app-todo-item {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  max-width: 256px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #CCCCCC;
  border: 1px solid #CCCCCC;
}
