.box {
  width: 100px;
  height: 100px;
  background: #cccccc;
  border: 1px solid #000;
}

.redBox {
  background: red;
  width: 100px;
  height: 100px;
}

.box2 {
  border: 5px solid #000;
  width: 100px;
  height: 100px;
}

.active {
  background: #b5b5d9;
}
