<div>
  <input type="text" [(ngModel)]="value" placeholder="Введите задачу">
  <button (click)="addData()">Добавить</button>
</div>

<div class="todo-list">
  <div class="todo-item" *ngFor="let item of todoList; let idx = index">
    <input type="checkbox" [(ngModel)]="item.completed">
    <span>{{item.name}}</span>
    <span class="delete-btn" (click)="deleteTodo(idx)">delete</span>
  </div>
</div>


<hr>

<button (click)="toggleChildComp = !toggleChildComp">Toggle child</button>
<div *ngIf="toggleChildComp">

  <child-comp [name]="fullName" [age]="age" (changeDataHandle)="dataHandleChild($event)"></child-comp>

  <input type="text" [(ngModel)]="fullName">
  <input type="number" [(ngModel)]="age">
</div>


<hr>
