/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  cursor: pointer;
  font-size: 14px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(210, 210, 210);
  transition: 0.3s;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  background-color: rgb(170, 170, 170);
  border: 1px solid rgb(200, 200, 200);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #1a1a1b inset !important;
  -webkit-text-fill-color: aliceblue !important;
}

input {
  margin: 5px;
  padding: 5px;
  transition: 0.3s;
  border-radius: 1%;
  border: 1px solid rgb(216, 216, 216);
  background-color: rgb(250, 250, 250);
}
